@import "../../mixins";
@import "../../variables";

section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input,
        textarea {
            padding: 10px;
            width: 100%;
            font-size: 14px;
            border: 2px solid $black-color;

            &.errorMessage {
                border-color: $red-color;
            }
        }

        .error-message {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 600;
            color: $red-color;
            text-align: left;
        }


        textarea {
            height: 70px;
            resize: none;
        }

        .total-time {
            .total-time-settings {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .total-time-group {
                    input {
                        padding: 10px;
                        width: 20%;
                        font-size: 14px;
                        border: 2px solid $black-color;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }

        .tag-list {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            > input {
                width: 20%;
            }

            .tag-wrapper {
                .tag {
                    cursor: pointer;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 5px 10px;
                    border: 1px solid $black-color;
                    border-radius: 20px;
                    width: max-content;

                    .add-new-tag-icon {
                        transition: transform 0.3s ease-in-out;

                        &.rotated {
                            transform: rotate(45deg);
                        }
                    }

                    .remove-tag-icon {
                        @include cross-icon-style(12px);
                    }

                    &.used {
                        background-color: $blue-color;
                        color: $white-color;
                    }
                }
            }
        }

        .sendTask {
            margin-left: auto;
        }
    }
}