@mixin reset-link-styles {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

@mixin cross-icon-style ($font-size) {
    font-size: $font-size;
    transition: 0.2s ease-in-out;

    &:hover {
        color: #FF0000;
    }
}