@import "../../../styles/mixins";
@import "../../../styles/variables";

section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input[type="text"] {
        width: 100%;
        padding: 10px;
    }

    > div {
        > input,
          textarea {
            padding: 10px;
            width: 100%;
            font-size: 14px;
            border: 2px solid $black-color;

            &.errorMessage {
                border-color: $red-color;
            }
        }

        .error-message {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 600;
            color: $red-color;
            text-align: left;
        }
    }

    textarea {
        height: 70px;
        resize: none;
    }

    .option-list {
        display: flex;
        gap: 20px;

        .option-group {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .total-time {
        .total-time-settings {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .total-time-group {
                > div {
                    > input,
                    textarea {
                        padding: 10px;
                        width: 20%;
                        font-size: 14px;
                        border: 2px solid $black-color;

                        &.errorMessage {
                            border-color: $red-color;
                        }
                    }

                    .error-message {
                        margin-top: 5px;
                        font-size: 12px;
                        font-weight: 600;
                        color: $red-color;
                        text-align: left;
                    }
                }

                span {
                    display: block;
                }

                input {
                    width: 20%;
                }
            }
        }
    }

    .tag-list {
        display: flex;
        gap: 15px;

        > div {
            > input,
            textarea {
                padding: 10px;
                width: 100%;
                font-size: 14px;
                border: 2px solid $black-color;

                &.errorMessage {
                    border-color: $red-color;
                }
            }

            .error-message {
                margin-top: 5px;
                font-size: 12px;
                font-weight: 600;
                color: $red-color;
                text-align: left;
            }
        }

        .tag-wrapper {
            .tag {
                cursor: pointer;
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 5px 10px;
                border: 1px solid $black-color;
                border-radius: 20px;
                width: max-content;

                .add-new-tag-icon {
                    transition: transform 0.3s ease-in-out;

                    &.rotated {
                        transform: rotate(45deg);
                    }
                }

                .remove-tag-icon {
                    @include cross-icon-style (12px);
                }

                &.used {
                    background-color: $blue-color;
                    color: $white-color;
                }
            }
        }
    }

    .sendTask {
        margin-left: auto;
    }
}