@import "../../../styles/mixins";
@import "../../../styles/variables";

section {
    .tasks-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        .filter-list {
            display: flex;
            gap: 20px;
        }
    }

    .task-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .task-item {
            display: flex;
            flex-direction: column;
            gap: 20px;
            cursor: pointer;
            padding: 20px;
            border: 1px solid black;
            transition: 0.3s ease-in-out;

            .item-header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .item-stats {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .item-label {
                        padding: 5px 20px;
                        background-color: $gray-color;
                        color: $white-color;
                    }
                }

                .remove-task-icon {
                    @include cross-icon-style (18px);
                }
            }

            .item-content {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item-name {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h1 {
                        display: inline;
                    }
                }

                .tag-list {
                    display: flex;
                    gap: 10px;

                    .tag-wrapper {
                        .tag {
                            cursor: pointer;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            padding: 5px 10px;
                            border: 1px solid $black-color;
                            border-radius: 20px;
                            width: max-content;
                        }
                    }
                }
            }

            &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            }

            &.completed {
                .item-content h1 {
                    text-decoration: line-through;
                    color: $gray-color;
                }
                .item-name > input {
                    accent-color: $gray-color;
                }
            }
        }
    }
}